head(prefix='og: http://ogp.me/ns# nodejsexpressdemo: http://ogp.me/ns/apps/nodejsexpressdemo#')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= appName+' - '+title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="node.js, express, mongoose, mongodb, stylus demo")
  meta(name="description", content="A demo app illustrating the usage of express framework, mongoose orm, mongodb and stylus in node.js. The also illustrates how to properly organize your application")
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  
  link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
  //
     Opengraph tags
  meta(property='fb:app_id', content='293989217296609')
  meta(property='og:title', content='#{appName} - #{title}')
  meta(property='og:description', content='A demo app illustrating the usage of express framework, mongoose orm, mongodb and stylus in node.js. The also illustrates how to properly organize your application')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://nodejs-express-demo.herokuapp.com')
  meta(property='og:image', content='http://blog.getbootstrap.com/wp-content/themes/bootstrap-blog/img/bootstrap-blog-logo.png')
  meta(property='og:site_name', content='Node.js Express Mongoose Demo')
  meta(property='fb:admins', content='1037213945')

  //
       Application styles
  link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='/css/app.css')
  link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css')
  //
  link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
  link(rel='stylesheet', href='/css/app.css')
  //
     <link rel="stylesheet" href="/assets/css/application.css">
  //
     Le HTML5 shim, for IE6-8 support of HTML5 elements
  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    
  script(type='text/javascript', src='/js/jquery.min.js')
  script(type='text/javascript', src='/js/jquery-ui-1.9.1.custom.min.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
