@font-face {
	font-family: 'BebasNeueRegular';
	src: url('../fonts/bebasneue-webfont.eot');
	src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bebasneue-webfont.woff') format('woff'),
		url('../fonts/bebasneue-webfont.ttf') format('truetype'),
		url('../fonts/bebasneue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('../fonts/league_gothic-webfont.eot');
	src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/league_gothic-webfont.woff') format('woff'),
		url('../fonts/league_gothic-webfont.ttf') format('truetype'),
		url('../fonts/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #212121;
  color: white;
}



/* !--- Header --- */
header#header {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #1c1c1c;
  display: block;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.8);
}
header#header a {
  text-decoration: none;
  color: white;
}
ul.nav {
  display: inline-block;
}
ul.nav.pull-right {
  float: right;
  display: inline-block;
}
ul.nav li {
  margin: 0 25px 0 0;
  display: inline-block;
}

/* !--- Events --- */
div#events {
  width: 958px;
}
div#events ul.head {
  padding: 0;
  margin: 0;
  height: 19px;
  background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, #606060),
		color-stop(0, #4d4d4d)
	);
	border-top: 1px solid #737373;
	border-bottom: 1px solid #171717;
	color: #929292;
	display: block;
	list-style: none;
}
div#events ul.head li {
  line-height: 18px;
  padding: 0;
  margin: 0;
  height: 19px;
  font-family: sans-serif;
  font-size: 12px;
  display: block;
  border-left: 1px solid #737373;
  border-right: 1px solid #171717;
  float: left;
}
div#events ul.head li.date {
  padding: 0 10px;
  width: 70px;
  height: 19px;
}
div#events ul.head li.series {
  padding: 0 10px;
  width: 200px;
  height: 19px;
}
div#events ul.head li.title {
  padding: 0 10px;
  width: 400px;
  height: 19px;
}
div#events ul.head li.options {
  padding: 0 10px;
  width: 200px;
  height: 19px;
}
div#events ul#body {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #3d3d3d;
}
div#events ul#body li.event {
  height: 52px;
  overflow: hidden;
  display: block;
}
div#events ul#body li.event:nth-child(odd) {
  background: #ededed;
	border-bottom: 1px solid #d2d2d2;
}
div#events ul#body li.event:nth-child(even) {
  background: #f1f1f1;
	border-bottom: 1px solid #d1d1d1;
}
div#events ul#body li.event div.date, div#events ul#body li.event div.series, div#events ul#body li.event div.title, div#events ul#body li.event div.options {
  padding: 16px 11px;
  height: 100%;
  display: block;
  float: left;
}
div#events ul#body li.event div.date {
  width: 70px;
}
div#events ul#body li.event div.series {
  width: 200px; 
}
div#events ul#body li.event div.title {
  width: 400px; 
}
div#events ul#body li.event div.options {
  width: 200px; 
}
div#events ul#body li.event div.options a {
  margin: 0 15px 0 0; 
  display: inline-block;
  opacity: 0.5;
}
/* !--- EventList --- */
div#event, div#event_edit {
  width: 100%;
  height: 40px;
  display: block;
}
div#event_edit {
  display: none;
}
div#event div#eventDate, div#event div#eventSeries, div#event div#eventTitle {
  margin-right: 15px;
  display: inline-block;
} 

/* !--- Segments --- */
div#segments {
  position: absolute;
    top: 150px;
    bottom: 70px;
    right: 380px;
    left: 0;
  background: #d4d4d4;
  box-shadow: 10px 0px 20px -10px rgba(0,0,0,0.8);
}
div#segments ul.head {
  padding: 0;
  margin: 0;
  height: 19px;
  background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, #606060),
		color-stop(0, #4d4d4d)
	);
	border-top: 1px solid #737373;
	border-bottom: 1px solid #171717;
	color: #929292;
	display: block;
	list-style: none;
}
div#segments ul.head li {
line-height: 18px;
  padding: 0;
  margin: 0;
  height: 19px;
  font-family: sans-serif;
  font-size: 12px;
  display: block;
  border-left: 1px solid #737373;
  border-right: 1px solid #171717;
}
div#segments ul.head li.segment {
  position: absolute;
    left: 0;
    right: 112px;
  padding: 0 10px;
  height: 19px;
}
div#segments ul.head li.options {
  position: absolute;
    right: 0;
  padding: 0 10px;
  height: 19px;
  width: 90px;
}
div#segments ul#body {
  position: absolute;
    top: 22px;
    bottom: 50px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #3d3d3d;
  overflow-y: scroll;
}
div#segments ul#body li.segment {
  height: 52px;
  overflow: hidden;
}
div#segments ul#body li.segment:nth-child(odd) {
  background: #ededed;
	border-bottom: 1px solid #d2d2d2;
}
div#segments ul#body li.segment:nth-child(even) {
  background: #f1f1f1;
	border-bottom: 1px solid #d1d1d1;
}
div#segments ul#body li.segment:last-child {
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.5);
}
div#segments ul#body li.segment div.segment, div#segments ul#body li.segment div.segment_edit {
  height: 52px;
}
div#segments ul#body li.segment .highlight {
  background: #7ebfd9;
}
div#segments ul li.segment div.segment_edit {
  display: none;
}
div#segments ul li.segment div.segment_edit .type .pup_typeSelector {
  position: absolute;
    left: 5px;
  height: 25px;
  display: block;
  z-index: 102;
    padding: 5px;
    margin-top: 0px;
  background: #ececec;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  border-radius: 5px;
}
div#segments ul li.segment div.segment_edit .type .pup_typeSelector:after, div#segments ul li.segment div.segment_edit .type .pup_typeSelector:before {
  position: absolute;
  border: solid transparent;
	content: ' ';
	height: 0;
	left: 100%;
	border: 10px solid transparent;
	width: 0;
}
div#segments ul li.segment div.segment_edit .type .pup_typeSelector:after {	
	 top: -20px;
	 left: 10px;
	border-bottom-color: #ececec;
}
div#segments ul li.segment div.segment_edit .type .pup_typeSelector:before {
	 top: -22px;
	 left:  9px;
  border: 11px solid transparent;
	border-bottom-color: rgba(0,0,0,0.1);
}
div#segments ul li.segment div.segment_edit .type .pup_typeSelector img {
  width: 25px;
  height: 25px;
}
div#segments ul li.segment div.segment_edit .type .pup_typeSelector img.selected {
  background: #7ebfd9;
}
div#segments div.title {
  position: absolute;
    right: 199px;
    left: 45px;
  padding: 12px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 200px;
	overflow: hidden;
}
div#segments div.trt {
  position: absolute;
    right: 110px;
  padding: 15px;
  width: 90px;
  text-align: right;
  font-size: 18px;
  border-right: 1px solid #c7c7c7;
  display: block;
}
div#segments div.type {
  padding: 10px 5px;
  width: 35px; 
}

div#segments div.title input {
  
  padding: 12px 8px;
  width: 100%;
  height: 52px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  border: none;
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
}
div#segments div.trt input {
  position: absolute;
    right: -1px;
  padding: 5px 14px;
  width: 100%;
  height: 52px;
  font-family: 'PT Sans', sans-serif;
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
}
div#segments div.options a, div#segments div.options span {
  padding: 17px 0 0 0;
  margin: 0 15px 0 0; 
  display: inline-block;
}
div#segments div.title, div#segments div.trt, div#segments div.type, div#segments div.options {
  
  float: left;
  display: inline-block;
}
div#segments div.withInput {
  padding: 0 24px 0 0;
  display: block;
  margin: 0;
}
div#segments div.options {
  position: absolute;
    right: 0;
  margin: 0;
  padding: 0;
  width: 110px;
  text-align: right;
  border-right: none;
  opacity: 0.5;
}
div#segments div#controls {
  position: absolute;
    bottom: 0;
  width: 100%;
  height: 50px;
  background: #282828;
  display: block;
}

a#btn_addSegment {
  margin: 13px 18px 13px 0;
	width: 36px;
	height: 24px;
	background-image:-webkit-gradient( linear, left top, left bottom, color-stop(0, #ababab), color-stop(1, #6e6e6e) );
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
	-webkit-border-radius: 3px;
	float: right;
	display: block;
}
a#btn_addSegment img {
	margin: 4px 10px;
	width: 16px;
	height: 17px;
}
a#btn_addHeader {
  margin: 13px 18px 13px 0;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
	width: 46px;
	height: 26px;
	float: right;
	display: block;
}
div#pup_addHeader {
  padding: 10px 0 5px 10px;
  position: absolute;
    right: 50px;
    bottom: 40px;
  background: #d6d6d6;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  display: none;
  z-index: 100;
}
div#pup_addHeader:after, div#pup_addHeader:before {
  position: absolute;
  border: solid transparent;
	content: ' ';
	height: 0;
	left: 100%;
	border: 10px solid transparent;
	width: 0;
}
div#pup_addHeader:after {	
	 bottom: -20px;
	 left: 28px;
	border-top-color: #d6d6d6;
}
div#pup_addHeader:before {
	 bottom: -22px;
	 left:  27px;
  border: 11px solid transparent;
	border-top-color: rgba(0,0,0,0.1);
}
div#pup_addHeader a {
  margin-right: 10px;
}

/* !--- Sidebar --- */
div#sidebar {
  position: absolute;
    top: 150px;
    right: 0;
  width: 380px;
  display: block;
}
div#sidebar #preview {
  margin: 0;
  padding: 0;
  height: 214px;
  background: #1c1c1c;
  font-family: 'PT Sans', sans-serif;
  display: block;
}
div#sidebar #preview #time {
  position: absolute;
    top: 0;
    right: 20px;
  font-family: 'BebasNeueRegular';
  font-size: 36px;
  color: #71cafd;
  display: block;
}
div#sidebar #preview #time span#period {
  margin-left: 5px;
  font-size: 28px;
}
div#sidebar #preview #currentTimer {
  margin: 0;
  padding: 0;
  position: absolute;
    top: 15px;
    left: 45px;
    right: 0;
  height: auto;
  font-family: 'BebasNeueRegular';
  font-size: 124px;
  /* font-weight: bold; */
  letter-spacing: -3px;
  /* color: #5e5e5e; */
  display: block;
}
div#sidebar #preview #currentTimer.inTheRed {
  color: #d12727;
}
div#sidebar #preview #currentTitle {
  position: absolute;
    top: 136px;
    left: 45px;
  font-family: 'LeagueGothicRegular';
  font-size: 36px;
  /* font-weight: bold; */
  color: #8e8e8e;
  color: #fcb800;
  display: block;
}
div#sidebar h1 {
  margin: 0;
  padding: 9px 15px 0 0;
  background: -webkit-linear-gradient(#2c2c2c 0%, #222222 100%);
  height: 16px;
  text-align: right;
  font-size: 11px;
  font-weight: bold;
  color: #878686;
}
div#sidebar #alerts {
  min-height: 100px;
}
div#sidebar #calls {
  min-height: 100px;
  text-align: left;
}
div#sidebar #notes {
  min-height: 100px;
  text-align: left;
}



/* !--- Footer --- */
footer {
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  height: 70px;
  background: -webkit-linear-gradient(#3d3d3d 0%, #313131 100%);
  border-top: 1px solid #4d4d4d;
}
a:hover {
  opacity: 0.9;
}
a#btn_clockPrevious, a#btn_clockNext, a#btn_clockReset, a#btn_clockClear { 
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #8f9192), color-stop(1, #626060) );
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
	border: 1px solid #2b2b2b;
	color: #333;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.15);
	display: block;
	float: left;
}
a#btn_clockPrevious, a#btn_clockNext {
  position: absolute;
    top: 18px;
	width: 30px;
	height: 30px;
	-webkit-border-radius:30px;
}
a#btn_clockPrevious {
  left: 16px;
}
a#btn_clockNext {
  left: 51px;
}
a#btn_clockPrevious img, a#btn_clockNext img {
	position: relative;
	  top: 11px;
	width: 13px;
	height: 10px;
}
a#btn_clockReset {
	position: absolute;
    top: 21px;
    left: 94px;
	width: 36px;
	height: 24px;
	-webkit-border-radius:5px;
	display:inline-block;
}
a#btn_clockReset img {
	position: relative;
	  top: 4px;
	width: 22px;
	height: 19px;
}
a#btn_clockClear {
  padding: 3px 0;
  position: absolute;
    top: 21px;
    left: 144px;
	width: 52px;
	height: 18px;
	text-decoration: none;
  -webkit-border-radius:5px;
	display: block;
}


/* !--- Alert Popup --- */
div#pup_alert {
  margin: auto;
  padding: 0;
  position: relative;
  width: 250px;
  height: 150px;
  background: #ededed;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  color: #3d3d3d;
  display: none;
  z-index: 101;
  text-align: center;
}
div#pup_alert h1 {
  position: relative;
    top: 0;
    left: 0;
    right: 0;
  padding: 8px 10px 6px 10px;
  height: 23px; 
  font-size: 18px;
  background: #d1d1d1;
  border-radius: 5px 5px 0px 0px;
  text-align: left;
  display: block;
}
div#pup_alert p {
  margin: 5px 10px;
  text-align: left;
}
div#pup_alert div.buttons {
  position: absolute;
    bottom: 15px;
    left: -15px;
    right: 0;
  display: block;
}
div#pup_alert div.buttons a {
  margin: 0 0 0 15px;
  padding: 7px 0 0 0;
  width: 72px;
	height: 24px;
  background-image:-webkit-gradient( linear, left top, left bottom, color-stop(0, #ededed), color-stop(1, #f1f1f1) );
  border: 1px solid #d1d1d1;
  -webkit-border-radius:5px;
  text-align: center;
  text-decoration: none;
  color: #3d3d3d;
  text-transform: capitalize;
  display: inline-block;
}
div#stage div#time {
  position: absolute;
    top: 55px;
    right: 105px;
    left: 110px;
  letter-spacing: -0.05em;
  font-family: 'BebasNeueRegular';
  font-size: 110px;
  text-align: right;
  color: #71cafd;
  display: block;
}
div#stage div#time span#period {
  margin-left: 10px;
  font-size: 84px;
  letter-spacing: normal;
}
div#stage div#currentTimer {
  position: absolute;
    top: 80px;
    right: 105px;
    left: 110px;
  letter-spacing: -0.05em;
  font-family: 'BebasNeueRegular';
  font-size: 450px;
  display: block;
}
div#stage div#currentTimer.inTheRed {
  color: #d12727;
}
div#stage div#currentTitle {
  position: absolute;
    top: 490px;
    left: 125px;
  font-family: 'LeagueGothicRegular';
  font-size: 84px;
  color: #fcb800;
  display: block;
}
div#stage div#next {
  padding: 25px 25px 25px 85px;
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  height: 70px;
  font-family: 'LeagueGothicRegular';
  font-size: 60px;
  color: #616161;
  background: #191919;
  display: block;
}
div#stage div#next span#nextTrt, div#stage div#next span#nextTitle {
  margin: 0 0 0 15px;
}
div#stage div#overlay {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background: url('../img/overlay.png') no-repeat;
  background-position: center center;
  background-size: cover;
  display: block;
  z-index: 100;
}

ul#settings {
  margin: 0;
  padding: 0;
  position: absolute;
    right: 100px;
    bottom: -250px;
  width: 142px;
  height: 270px;
  background: #151515;
  box-shadow: 0px 0px 20px black;
  display: block;
  border-radius: 10px 10px 0px 0px;
  z-index: 110;
}
ul#settings a#settings {
  margin: 3px 10px;
  width: auto;
  text-decoration: none;
  color: #4a4a4a;
  font-family: 'LeagueGothicRegular';
  text-align: center;
  opacity: 0.5;
  display: block;
}
ul#settings a#settings:hover {
  opacity: 1;
}
ul#settings li {
  margin: 10px;
  list-style: none;
  background: #4f4f4f;
  
}
ul#settings li a {
  width: 122px;
  height: 68px;
  display: block;
}

.hidable {
  display: none;
}

.author {
  color: #aaa;
}

.article, .comment {
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
}

.main-head {
  padding: 20px;
}

.pagination ul {
  margin: 0;
  padding: 0;
}
.pagination ul li {
  margin: 0 15px 0 0;
  float: left;
}
.pagination ul li a {
  color: #ededed;
  text-decoration: none;
}

.center {
  text-align: center;
}

.tags {
  margin-top: 10px;
}

a.tag {
  margin: 0 10px 0 0;
}

/*form.signup { display: none; }*/
