@font-face {
	font-family: 'BebasNeueRegular';
	src: url('../fonts/bebasneue-webfont.eot');
	src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bebasneue-webfont.woff') format('woff'),
		url('../fonts/bebasneue-webfont.ttf') format('truetype'),
		url('../fonts/bebasneue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #212121;
  color: white;
}



/* !--- Header --- */
header#header {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #1c1c1c;
  display: block;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.8);
}
header#header a {
  text-decoration: none;
  color: white;
}
ul.nav {
  display: inline-block;
}
ul.nav.pull-right {
  float: right;
  display: inline-block;
}
ul.nav li {
  margin: 0 25px 0 0;
  display: inline-block;
}
table th {
  background: black;
  color: white;
}
table#events tr th {
	background: #d0d0d0;
  font-size: 14px;
}
table#events tr.event td {
  font-size: 14px;
}



/* !--- Segments --- */
div#segments {
  position: absolute;
    top: 150px;
    bottom: 70px;
    right: 380px;
    left: 0;
  background: #d4d4d4;
  box-shadow: 10px 0px 20px -10px rgba(0,0,0,0.8);
}
div#segments ul.head {
  
  padding: 0;
  margin: 0;
  height: 19px;
  background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, #606060),
		color-stop(0, #4d4d4d)
	);
	border-top: 1px solid #737373;
	border-bottom: 1px solid #171717;
	color: #929292;
	display: block;
	list-style: none;
}
div#segments ul.head li {
line-height: 18px;
  padding: 0;
  margin: 0;
  height: 19px;
  font-family: sans-serif;
  font-size: 12px;
  display: block;
  border-left: 1px solid #737373;
  border-right: 1px solid #171717;
}
div#segments ul.head li.segment {
  position: absolute;
    left: 0;
    right: 112px;
  padding: 0 10px;
  height: 19px;
}
div#segments ul.head li.options {
  position: absolute;
    right: 0;
  padding: 0 10px;
  height: 19px;
  width: 90px;
}
div#segments ul#body {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #3d3d3d;
}
div#segments ul#body li.segment {
  height: 52px;
  overflow: hidden;
  display: block;
}
div#segments ul#body li.segment:nth-child(odd) {
  background: #ededed;
	border-bottom: 1px solid #d2d2d2;
}
div#segments ul#body li.segment:nth-child(even) {
  background: #f1f1f1;
	border-bottom: 1px solid #d1d1d1;
}
div#segments ul#body li.segment:last-child {
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.5);
}
div#segments ul#body li.segment div.segment, div#segments ul#body li.segment div.segment_edit {
  height: 52px;
}
div#segments ul#body li.segment .highlight {
  background: #7ebfd9;
}
div#segments ul li.segment div.segment_edit {
  display: none;
}
div#segments ul li.segment div.segment_edit .type .pup_typeSelector {
  position: absolute;
    left: 5px;
  height: 25px;
  z-index: 100;
  display: inline-block;
    padding: 5px;
    margin-top: -50px;
  background: #ececec;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
}
div#segments ul li.segment div.segment_edit .type .pup_typeSelector img {
  width: 25px;
  height: 25px;
}
div#segments ul li.segment div.segment_edit .type .pup_typeSelector img.selected {
  background: #7ebfd9;
}
div#segments div.title {
  position: absolute;
    right: 210px;
    left: 45px;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 200px;
	overflow: hidden;
}
div#segments div.trt {
  position: absolute;
    right: 110px;
  line-height: 32px;
  width: 100px;
  height: 100px;
  text-align: right;
  font-size: 18px;
  border-right: 1px solid #c7c7c7;
}
div#segments div.type {
  width: 35px; 
}

div#segments div.title input {
  padding: 5px 12px;
  width: 100%;
  height: 42px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  border: none;
}
div#segments div.trt input {
  padding: 5px 12px;
  width: 100%;
  height: 42px;
  font-family: 'PT Sans', sans-serif;
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  border: none;
}
div#segments div.options a, div#segments div.options span {
  padding: 10px 0 0 0;
  margin: 0 15px 0 0; 
  display: inline-block;
}
div#segments div.title, div#segments div.trt, div#segments div.type, div#segments div.options {
  padding: 12px;
  height: 52px;
  float: left;
  display: inline-block;
}
div#segments div.withInput {
  padding: 0 24px 0 0;
  margin: 0;
}
div#segments div.options {
  position: absolute;
    right: 0;
  margin: 0;
  padding: 0;
  width: 110px;
  text-align: right;
  border-right: none;
  opacity: 0.5;
}
div#segments div#controls {
  position: absolute;
    bottom: 0;
  width: 100%;
  height: 50px;
  background: #282828;
  display: block;
}

a#btn_addSegment {
  margin: 13px 18px 13px 0;
	width: 36px;
	height: 24px;
	background-image:-webkit-gradient( linear, left top, left bottom, color-stop(0, #ababab), color-stop(1, #6e6e6e) );
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
	-webkit-border-radius: 3px;
	float: right;
	display: block;
}
a#btn_addSegment img {
	margin: 4px 10px;
	width: 16px;
	height: 17px;
}
a#btn_addHeader {
  margin: 13px 18px 13px 0;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
	width: 46px;
	height: 26px;
	float: right;
	display: block;
}
div#pup_addHeader {
  padding: 10px 0 5px 10px;
  position: absolute;
    right: 50px;
    bottom: 40px;
  background: #d6d6d6;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  display: none;
  z-index: 100;
}
div#pup_addHeader a {
  margin-right: 10px;
}

/* !--- Sidebar --- */
div#sidebar {
  position: absolute;
    top: 150px;
    right: 0;
  width: 380px;
  display: block;
}
div#sidebar #preview {
  margin: 0;
  padding: 0;
  height: 214px;
  background: #1c1c1c;
  font-family: 'PT Sans', sans-serif;
  display: block;
}
div#sidebar #preview #currentTimer {
  margin: 0;
  padding: 0;
  position: absolute;
    top: 10px;
    left: 45px;
  width: 100%;
  height: auto;
  font-size: 124px;
  font-weight: bold;
  letter-spacing: -10px;
  color: #5e5e5e;
  display: block;
}
div#sidebar #preview #currentTitle {
  position: absolute;
    top: 136px;
    left: 45px;
  font-size: 36px;
  font-weight: bold;
  color: #8e8e8e;
  display: block;
}
div#sidebar h1 {
  margin: 0;
  padding: 9px 15px 0 0;
  background: -webkit-linear-gradient(#2c2c2c 0%, #222222 100%);
  height: 16px;
  text-align: right;
  font-size: 11px;
  font-weight: bold;
  color: #878686;
}
div#sidebar #alerts {
  min-height: 100px;
}
div#sidebar #calls {
  min-height: 100px;
  text-align: left;
}
div#sidebar #notes {
  min-height: 100px;
  text-align: left;
}



/* !--- Footer --- */
footer {
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  height: 70px;
  background: -webkit-linear-gradient(#3d3d3d 0%, #313131 100%);
  border-top: 1px solid #4d4d4d;
}
a:hover {
  opacity: 0.9;
}
a#btn_clockPlayPause { 
  position: absolute;
    top: 9px;
    left: 22px;
	width: 45px;
	height: 45px;
	-webkit-box-shadow: 0px 0px 10px -6px #000000;
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #df2b1a), color-stop(1, #871a12) );
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
	border: 1px solid #2b2b2b;
	-webkit-border-radius: 45px;
	float: left;
	display: block;
}
a#btn_clockPlayPause img {
	position: relative;
	  top: 15px;
	  left: 18px;
	width: 15px;
	height: 17px;

}
a#btn_clockPrevious, a#btn_clockNext, a#btn_clockReset, a#btn_clockClear { 
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #8f9192), color-stop(1, #626060) );
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
	border: 1px solid #2b2b2b;
	color: #333;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.15);
	display: block;
	float: left;
}
a#btn_clockPrevious, a#btn_clockNext {
  position: absolute;
    top: 18px;
	width: 30px;
	height: 30px;
	-webkit-border-radius:30px;
}
a#btn_clockPrevious {
  left: 76px;
}
a#btn_clockNext {
  left: 111px;
}
a#btn_clockPrevious img, a#btn_clockNext img {
	position: relative;
	  top: 7px;
	width: 13px;
	height: 10px;
}
a#btn_clockReset {
	position: absolute;
    top: 21px;
    left: 154px;
	width: 36px;
	height: 24px;
	-webkit-border-radius:5px;
	display:inline-block;
}
a#btn_clockReset img {
	position: relative;
	  top: 4px;
	width: 22px;
	height: 19px;
}
a#btn_clockClear {
  padding: 3px 0;
  position: absolute;
    top: 21px;
    left: 204px;
	width: 52px;
	height: 18px;
	text-decoration: none;
  -webkit-border-radius:5px;
	display: block;
}


/* !--- Alert Popup --- */
div#pup_alert {
  margin: auto;
  padding: 0;
  position: relative;
  width: 250px;
  height: 150px;
  background: #ededed;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  color: #3d3d3d;
  display: none;
  z-index: 101;
  text-align: center;
}
div#pup_alert h1 {
  position: relative;
    top: 0;
    left: 0;
    right: 0;
  padding: 8px 10px 6px 10px;
  height: 23px; 
  font-size: 18px;
  background: #d1d1d1;
  border-radius: 5px 5px 0px 0px;
  text-align: left;
  display: block;
}
div#pup_alert p {
  margin: 5px 10px;
  text-align: left;
}
div#pup_alert div.buttons {
  position: absolute;
    bottom: 15px;
    left: -15px;
    right: 0;
  display: block;
}
div#pup_alert div.buttons a {
  margin: 0 0 0 15px;
  padding: 7px 0 0 0;
  width: 72px;
	height: 24px;
  background-image:-webkit-gradient( linear, left top, left bottom, color-stop(0, #ededed), color-stop(1, #f1f1f1) );
  border: 1px solid #d1d1d1;
  -webkit-border-radius:5px;
  text-align: center;
  text-decoration: none;
  color: #3d3d3d;
  text-transform: capitalize;
  display: inline-block;
}


.hidable {
  display: none;
}


div.date {
  font-size: 11px;
  color: #aaa;
}

a.title span.title_date {
	color: red;
}
.author {
  color: #aaa;
}

div.title {
  padding: 5px 0 15px 0;
  display: block;
  font-size: 24px;
}

.article, .comment {
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
}

.main-head {
  padding: 20px;
}



.center {
  text-align: center;
}

.tags {
  margin-top: 10px;
}

a.tag {
  margin: 0 10px 0 0;
}

/*form.signup { display: none; }*/
