#stage {
  background: #212121;
}
#stage .time {
  position: absolute;
    top: 55px;
    right: 105px;
    left: 110px;
  display: block;
  color: #71cafd;
  text-align: right;
  letter-spacing: -0.05em;
  font-size: 110px;
  font-family: 'BebasNeueRegular';
}
#stage .time span.period {
  margin-left: 10px;
  letter-spacing: normal;
  font-size: 80%;
}
#stage div#currentTimer {
  position: absolute;
    top: 80px;
    right: 105px;
    left: 110px;
  display: block;
  letter-spacing: -0.05em;
  font-size: 450px;
  font-family: 'BebasNeueRegular';
}
#stage div#currentTimer.inTheRed {
  color: #d12727;
}
#stage div#currentTitle {
  position: absolute;
    top: 490px;
    left: 125px;
  display: block;
  color: #fcb800;
  font-size: 84px;
  font-family: 'LeagueGothicRegular';
}
#stage div#next {
  position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  display: none;
  padding: 25px 25px 25px 85px;
  height: 70px;
  background: #191919;
  color: #616161;
  font-size: 60px;
  font-family: 'LeagueGothicRegular';
}
#stage div#next span#nextTrt, #stage div#next span#nextTitle {
  margin: 0 0 0 15px;
}
#stage div#alert {
  position: absolute;
    top: -360px;
    left: 0;
    right: 0;
  padding: 60px 40px 60px 40px;
  display: block;
  min-height: 200px;
  background: #d12727;
  color: #fff;
  font-family: 'LeagueGothicRegular';
  font-size: 80px;
  z-index: 90;
}
#stage div#overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: block;
  min-width: 1024px;
  min-height: 100%;
  width: 100%;
  height: auto;
  background: url('../img/overlay.png') no-repeat;
  background-position: center center;
  background-size: cover;
}
/* !--- List View ---*/

#list #head {
  position: absolute;
  height: 50px;
  width: 100%;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.5);
  z-index: 100;
}
#list .time {
  position: relative;
    top: -10px;
    right: 10px;
  color: #71cafd;
  text-align: right;
  letter-spacing: -0.05em;
  font-size: 30px;
  font-family: 'BebasNeueRegular';
}
#list .time span.period {
  font-size: 80%;
}
#list ul {
  position: absolute;
    top: 50px;
    bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none; 
  z-index: 90;
  overflow-y: scroll;
}
#list ul li {
  padding: 5px 5px;
  height: 40px;
  color: #3d3d3d;
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  
}
#list ul li:nth-child(odd) {
	border-bottom: 1px solid #d2d2d2;
  background: #ededed;
}
#list ul li:nth-child(even) {
	border-bottom: 1px solid #d1d1d1;
  background: #f1f1f1;
}
#list ul li.highlight {
  background: #7ebfd9;
}
#list ul li div.icon, #list ul li div.title, #list ul li div.trt {
  display: block;
}
#list ul li div.icon {
  margin-top: 5px;
  width: 15%;
  float: left;
}
#list ul li div.title {
  margin-top: 10px;
  width: 65%;
  float: left;
}
#list ul li div.trt {
  margin-top: 10px;
  width: 20%;
  text-align: right;
  float: left;
}
#list ul li.red {
	border-bottom: 1px solid #882d08;
  background: -webkit-linear-gradient(#ae3505 0%, #9f3207 100%);
}
#list ul li.blue {
	border-bottom: 1px solid #3e86a3;
  background: -webkit-linear-gradient(#4fadd3 0%, #4a9cbc 100%);
}
#list ul li.green {
	border-bottom: 1px solid #4b970c;
  background: -webkit-linear-gradient(#57be04 0%, #53ab0c 100%);
}
#list ul li.header {
  padding: 0 5px 10px 5px;
  height: 32px;
  color: #f1f1f1;
  opacity: 0.95;
}


@media only screen and (min-width : 321px)
and (max-device-width : 480px) {
  #stage .time {
    position: absolute;
      top: 15px;
      right: 30px;
      left: 0;
    font-size: 50px;
  }
  #stage .time span.period {
    margin-left: 1px;
  }
  #stage div#currentTimer {
    position: absolute;
      top: 45px;
      left: 50px;
    letter-spacing: -0.05em;
    font-size: 180px;
  }
  #stage div#currentTitle {
  position: absolute;
    top: 210px;
    left: 50px;
  font-size: 45px;
}
  #stage div#next {
    position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    padding: 5px 50px 0 50px;
    margin: 0;
    height: 40px;
    font-size: 30px;
  }

}

/* !--- Mobile Orientation --- */
@media screen and (orientation:portrait) {
  #stage {display: none;}
  #list {display: block;}
}
@media screen and (orientation:landscape) {
  #stage {display: block;}
  #list {display: none;}
}