<div id="winner">
  Winner
</div>
<!-- settings pane -->
<div id="pane_settings">
  <div class="row">
    <div class="col-md-4">
      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="text" id="inp_add_prize" class="form-control" placeholder="Candy Corn">
        </div>  
        <button type="button" id="btn_add_prize" class="btn btn-default"><i class="fa fa-plus"> Add Item</i></button>
      </form>
    </div>
    <div class="col-md-4">
      <ul id="prizes"></ul>
    </div>
    <div class="col-md-4">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="ckbx_remove_last_prize"> Remove last prize
        </label>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-default navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="collapse navbar-collapse" id="playbar">
    <ul class="nav navbar-nav navbar-left">
      <li><button type="button" id="btn_spin" class="btn btn-default navbar-btn">Flux</button></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><button type="button" id="btn_settings" class="btn btn-default navbar-btn"><i class="fa fa-cog"></i></button></li>
    </ul>
  </div>
</nav><!-- /bottom nav -->
<script>
  data = <%- JSON.stringify(prizes) %>;
  gameid = <%- gameid %>;
  prizes = data.prizes;
  settings = data.settings;
</script>