extends ../layouts/default

block main
  h1= event.date + ' ' + event.series + ' ' + event.title

block content
  #segments
    ul.head
      li.segment Segment
      li.options Options
    ul.body
      each segment in event.segments
        include ../segments/segment
    #controls
      a#btn_addSegment(href='#')
        img(src='../img/btn_addSegment.png', width='16', height='16')
      a#btn_addHeader(href='#')
        img(src='../img/btn_addHeader.png', width='46', height='26')

  //p Ignore below
    //br
    //form.center.form-inline.confirm(action="/events/"+event.id, method="post")
      //a.btn(href='/events/'+event._id+'/edit', title="edit") Edit
      //&nbsp;&nbsp;
      //input(type="hidden", name="_method", value="DELETE")
      //button.btn.btn-danger(type="submit") delete
  footer
    a(href='#') Play
    a.btn(href='/events/'+event._id+'/edit', title="edit") Edit