extends ../layouts/blank
  
block content
  #stage
    #time 8:05AM
    #currentTimer null
    #currentTitle null 
    #next NEXT 
      span#nextTrt 10:00 
      span#nextTitle Section Title 
    #overlay
  script
    alert('segmentList')
    var room = '#{event._id}'
    
    var segmentList = '#{event.segments}'
    
    var current = '#{event.current}'
  script(type='text/javascript', src='/js/stage.js')
  
    