extends ../layouts/blank
  
block content
  #stage
    #time
      span#actualtime
      span#period
    #currentTimer 
    #currentTitle 
      //= event.segments
    #next NEXT
      span#nextTrt  
      span#nextTitle
    #alert  
    #overlay
    ul#settings
      a(href='#')#settings DISPLAY VIEWS
      li 
        a(href='#')#btn_timer Timer
      li
        a(href='#')#btn_time Time
      li
        a(href='#')#btn_split Split
    != "<script type='text/javascript'>"
      != "var segmentList = {};"
        each segment in event.segments
          != "segmentList['"+segment._id+"'] = {'title': '"+segment.title+"', 'trt': '"+segment.trt+"', 'type': '"+segment.type+"', 'order': '"+segment.order+"'};";
        != "console.log(segmentList);"
    != "</script>"
  script
    var room = '#{event._id}'
    var current = '#{event.current}'
    var currentStart = '#{event.currentStart}'
    var alert = '#{event.currentAlert}'
  script(type='text/javascript', src='/js/stage.js')
  
    