extends ../layouts/blank
  
block content
  #stage
    #time null
    #currentTimer 
    #currentTitle 
      //= event.segments
    #next NEXT
      span#nextTrt  
      span#nextTitle  
    #overlay
    != "<script type='text/javascript'>"
      != "var segmentList = {};"
        each segment in event.segments
          != "segmentList['"+segment._id+"'] = {'title': '"+segment.title+"', 'trt': '"+segment.trt+"', 'type': '"+segment.type+"', 'order': '"+segment.order+"'};";
        != "console.log(segmentList);"
    != "</script>"
  script
    var room = '#{event._id}'
    var current = '#{event.current}'
  script(type='text/javascript', src='/js/stage.js')
  
    