if (segment)
  li.segment
    .segment
      .type
          img(src='../img/ico_'+ segment.segment_type +'.png', width='35', height='35')
      .title
        =segment.segment_title
        = ' order#: ' + segment.order
      .trt
        =segment.segment_trt
      .options
        a(href='#').rowEdit
          img(src='../img/ico_editRow.png', width='17', height='17').hidable
        a(href='#').hidable
          img(src='../img/ico_removeRow.png', width='17', height='17').hidable
        span.handle.hidable
          img(src='../img/ico_moveRow.png', width='17', height='17').hidable
    .segment_edit
      .type
        img(src='../img/ico_'+ segment.segment_type +'.png', width='35', height='35')
      .title.withInput
        input(type='text', value=segment.segment_title, placeholder='Title')
      .trt.withInput
        input(type='text', value=segment.segment_trt, placeholder='Time')
      .options
        a(href='#').rowSave S
        a(href='#').rowCancel C