<div id="flow_pane">
	<ul id="list_segments"></ul>
	<div class="controls">
		<button id="btn_addSegment" class="btn btn-default"><i class="fa fa-plus"></i></button>
		<button id="btn_addHeader" class="btn btn-default"><i class="fa fa-plus"></i><i class="fa fa-plus"></i><i class="fa fa-plus"></i></button>
  </div>
</div>
<div id="sidebar">
  <div id="preview">
    <div id="time"></div>
    <div id="currentTimer "></div>
    <div id="currentTitle "></div>
  </div>
  <div id="alerts">
    <h1>Alerts</h1>
  </div>
  <div id="calls">
    <h1>Calls</h1>
  </div>
</div>
<nav id="playbar" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-left">
    	<li><button id="btn_clockPrevious" class="btn btn-default navbar-btn"><i class="fa fa-arrow-left"></i></button></li>
    	<li><button id="btn_clockNext" class="btn btn-default navbar-btn"><i class="fa fa-arrow-right"></i></button></li>
    	<li><button id="btn_clockReset" class="btn btn-default navbar-btn"><i class="fa fa-retweet"></i></button></li>
    	<li><button id="btn_clockClear" class="btn btn-default navbar-btn"> Clear</button></li>
    	<li>
    		<div class="btn-group">
		  		<button type="button" id="btn_mode_list" class="btn btn-default navbar-btn">List</button>
		  		<button type="button" id="btn_mode_alert" class="btn btn-default navbar-btn">Alert</button>
				</div>
			</li>
		</ul>
	</div>
</nav>
<script>
	event_id = <%- event_id %>;
  event_segments = <%- JSON.stringify(event_segments) %>.segments;
  event_settings = <%- JSON.stringify(event_settings) %>;
  socket.get('/subscribe/'+ event_id, function gotResponse () {
      // we don’t really care about the response
  });
</script>