body {
  background: #838383;
}
.list-prize {
  margin-bottom: 3px;
  height: 30px;
  display: block;
  color: #fff;
}
ul.color_picker {
	position: absolute;
	padding: 5px;
	background: #3f3f3f;
	display: block;
	z-index: 100;
}
ul.color_picker li {
	width: 30px;
	height: 30px;
	display: block;
	list-style: none;
	float: left;
}
ul.color_picker .selected {
	border: 2px #fff solid;
}

ul.size_picker {
	margin-top: 40px;
	position: absolute;
	padding: 5px;
	background: #3f3f3f;
	display: block;
	z-index: 100;
}
ul.size_picker li {
	width: 30px;
	height: 30px;
	display: block;
	list-style: none;
	float: left;
}
ul.size_picker .selected {
	border: 2px #fff solid;
}