<div id="form_button" class="Absolute-Center">
  <form id="frm_game" role="form" style="margin:0 auto;width:400px;">
  	<button id="btn_spin" class="btn btn-primary btn-block btn-lg">SPIN</button>
	</form>
</div>

<script>
	game_id = <%- game_id %>;	
	socket.get('/subscribe/'+ game_id, function gotResponse () {
    // we don’t really care about the response
  });
  $('#btn_spin').on('click', function(e) {
		e.preventDefault();
		$.get('/wheel/spin/'+ game_id);
	});
  socket.on('message', function (data) {
		if(data['data'].status == 'spin') {
			$('#btn_spin').attr('disabled', 'disabled');
		} else if(data['data'].status == 'spin_complete') {
			$('#btn_spin').removeAttr('disabled');
		}
	});
</script>